body{border:0;margin:0;padding:0}#common_menu{min-height:37px;background-color:#050505;z-index:25000;left:0;position:absolute;top:0;width:100%}@media all and (min-device-width: 650px) and (min-device-height: 650px) and (min-width: 650px){#common_menu{position:fixed}}@media all and (min-device-width: 650px) and (min-device-height: 650px) and (min-width: 650px){.smartbanner #common_menu{top:81px}}#common_menu_frame{margin:0;width:100%;border:none;overflow:hidden;position:relative;z-index:10}#common_menu_frame_wrap{height:85px}

/*
     FILE ARCHIVED ON 11:10:25 Nov 09, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:07:31 Sep 24, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.312
  PetaboxLoader3.resolve: 349.602 (3)
  captures_list: 450.553
  exclusion.robots.policy: 0.293
  CDXLines.iter: 44.18 (3)
  load_resource: 132.135
  esindex: 0.021
  LoadShardBlock: 397.807 (3)
  RedisCDXSource: 1.255
  PetaboxLoader3.datanode: 151.818 (4)
*/