@media all and (min-device-width:650px) and (min-device-height:650px) and (min-width:650px){.slide__main{background-image:url(/web/20181109111022im_/http://static-wbp-ru.gcdn.co/dcont/1.12/skins/10/main-slide-s.jpg)}}@media all and (min-width:1100px){.slide__main{background-image:url(/web/20181109111022im_/http://static-wbp-ru.gcdn.co/dcont/1.12/skins/10/main-slide-m.jpg)}}@media all and (min-width:1450px){.slide__main{background-image:url(/web/20181109111022im_/http://static-wbp-ru.gcdn.co/dcont/1.12/skins/10/main-slide-l.jpg)}}.body__main{background-image:url(/web/20181109111022im_/http://static-wbp-ru.gcdn.co/dcont/1.12/skins/10/main-slide-default.jpg)}@media all and (min-width:650px){.body__main{background-image:url(/web/20181109111022im_/http://static-wbp-ru.gcdn.co/dcont/1.12/skins/10/main-slide-tab.jpg)}}@media all and (min-device-width:650px) and (min-device-height:650px) and (min-width:650px){.body__main{background-image:none}}
/*
     FILE ARCHIVED ON 11:10:22 Nov 09, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:07:30 Sep 24, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 271.988
  exclusion.robots: 0.085
  exclusion.robots.policy: 0.077
  RedisCDXSource: 3.773
  esindex: 0.01
  LoadShardBlock: 247.343 (3)
  PetaboxLoader3.datanode: 170.257 (4)
  CDXLines.iter: 18.295 (3)
  load_resource: 74.723
  PetaboxLoader3.resolve: 45.427
*/