body{border:0;margin:0;padding:0}#common_menu{min-height:37px;background-color:#050505;z-index:25000;left:0;position:absolute;top:0;width:100%}@media all and (min-device-width: 650px) and (min-device-height: 650px) and (min-width: 650px){#common_menu{position:fixed}}@media all and (min-device-width: 650px) and (min-device-height: 650px) and (min-width: 650px){.smartbanner #common_menu{top:81px}}#common_menu_frame{margin:0;width:100%;border:none;overflow:hidden;position:relative;z-index:10}#common_menu_frame_wrap{height:85px}

/*
     FILE ARCHIVED ON 11:10:25 Nov 09, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:29:19 Oct 29, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 144.755
  exclusion.robots: 0.1
  exclusion.robots.policy: 0.092
  cdx.remote: 0.064
  esindex: 0.01
  LoadShardBlock: 113.33 (3)
  PetaboxLoader3.datanode: 89.162 (4)
  CDXLines.iter: 15.816 (3)
  load_resource: 100.429
  PetaboxLoader3.resolve: 77.905
*/