@media all and (min-device-width:650px) and (min-device-height:650px) and (min-width:650px){.slide__main{background-image:url(/web/20181109111022im_/http://static-wbp-ru.gcdn.co/dcont/1.12/skins/10/main-slide-s.jpg)}}@media all and (min-width:1100px){.slide__main{background-image:url(/web/20181109111022im_/http://static-wbp-ru.gcdn.co/dcont/1.12/skins/10/main-slide-m.jpg)}}@media all and (min-width:1450px){.slide__main{background-image:url(/web/20181109111022im_/http://static-wbp-ru.gcdn.co/dcont/1.12/skins/10/main-slide-l.jpg)}}.body__main{background-image:url(/web/20181109111022im_/http://static-wbp-ru.gcdn.co/dcont/1.12/skins/10/main-slide-default.jpg)}@media all and (min-width:650px){.body__main{background-image:url(/web/20181109111022im_/http://static-wbp-ru.gcdn.co/dcont/1.12/skins/10/main-slide-tab.jpg)}}@media all and (min-device-width:650px) and (min-device-height:650px) and (min-width:650px){.body__main{background-image:none}}
/*
     FILE ARCHIVED ON 11:10:22 Nov 09, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:29:19 Oct 29, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 182.592
  exclusion.robots: 0.121
  exclusion.robots.policy: 0.112
  cdx.remote: 0.073
  esindex: 0.01
  LoadShardBlock: 125.138 (3)
  PetaboxLoader3.datanode: 134.753 (4)
  CDXLines.iter: 22.071 (3)
  load_resource: 86.069
  PetaboxLoader3.resolve: 25.605
*/